Python OOPs: https://www.youtube.com/watch?v=Uo6PpmDuBUU

# Python - Variables
Variables are containers for storing data values.


Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [1]:
# Variable
x = 5
x

5

In [2]:
name = 'gaurav'
name

'gaurav'

In [3]:
# casting to other data type
y = float(x)
y

5.0

In [4]:
# Get the type
type(x)

int

In [5]:
type(y)

float

In [6]:
# variable are case sensitive
a = 5
A = 6

In [7]:
a

5

In [8]:
A

6

In [9]:
# Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [10]:
#Illegal variable names:

# 2myvar = "John"
# my-var = "John"
# my var = "John"

### Multi Words Variable Names

#### There are several techniques you can use to make them more readable:

In [11]:
# Camel Case
# Each word, except the first, starts with a capital letter:
myVariableName = "John"

# Pascal Case
# Each word starts with a capital letter:
MyVariableName = "John"

# Snake Case
# Each word is separated by an underscore character:
my_variable_name = "John"

In [12]:
# Many Values to Multiple Variables
x, y, z = "Orange", "Banana", "Cherry"
x

'Orange'

In [13]:
y

'Banana'

In [14]:
# One Value to Multiple Variables
x = y = z = "Orange"
x

'Orange'

In [15]:
y

'Orange'

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [17]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [18]:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [19]:
x = 5
y = 10
print(x + y)

15

##### In the print() function, when you try to combine a string and a number with the + operator, 
##### Python will give you an error:


 x = 5\
 y = "John"\
 print(x + y)

In [20]:
# The best way to output multiple variables in the print() function is to separate them with commas, 
# which even support different data types:

x = 5
y = "John"
print(x,y)

5 John

## Python - Global Variables
### Global Variables
Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [21]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Note: If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.

The global variable with the same name will remain as it was, global and with the original value.

In [22]:
name = 'Khan'

def fn():
    print('My Name is '+ name)

fn()

My Name is Khan

In [23]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

### The global Keyword
Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

##### To create a global variable inside a function, you can use the global keyword.

In [24]:
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

#myfunc()
print("Python is " + x)

Python is awesome

##### Note: We can use the global keyword if you want to change a global variable inside a function.

In [25]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()
print("Python is " + x)

Python is fantastic

In [26]:
x = "awesome"

def myfunc():
  #global x
  x = "fantastic"
  print("Python is " + x)  

myfunc()
print("Python is " + x)

Python is fantastic
Python is awesome

# Python Data Types

### Built-in Data Types
Variables can store data of different types, and different types can do different things.

##### Python has the following data types built-in by default, in these categories:

Text Type:	    str

Numeric Types:	int, float, complex https://www.w3schools.com/python/python_numbers.asp

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:  	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:  	NoneType

## 1. Numeric

In [27]:
x,y,z = 2, 3.5, 1+2j

print("int:",x)
print("float:",y)
print("complex number:",z)

int: 2
float: 3.5
complex number: (1+2j)

### Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

https://www.w3schools.com/python/python_numbers.asp

In [28]:
# Example
# Import the random module, and display a random number between 1 and 9:

import random

print(random.randrange(1, 10))

5

## 2. String

In [29]:
text = 'Hello'  # Same as "Hello"
text

'Hello'

In [30]:
print(text)

Hello

In [31]:
# Multiline Strings
# You can assign a multiline string to a variable by using three quotes (either single or double):

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#### Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [32]:
a = 'Gaurav'
a[0]

'G'

In [33]:
a[5]

'v'

#### Looping Through a String
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [34]:
a = "Gaurav"
for x in a:
    print(x)

G
a
u
r
a
v

#### String Length
To get the length of a string, use the len() function.

In [35]:
a = "Hare Krishna"
len(a)

12

#### Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [36]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
# Use it in an if statement:

# Example
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

#### Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [38]:
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

### Slicing Strings
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [39]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello My World"
b[2:5]

'llo'

In [40]:
b[:4]

'Hell'

In [41]:
b[6:]

'My World'

In [42]:
# Here not included the position 3 value
b[0:3]

'Hel'

In [43]:
# Here not included the position -1 value
b[-3:-1]

'rl'

In [44]:
b[-1]

'd'

### Modify Strings

##### Upper Case

In [45]:
c = 'Welcome to the Future'
c.upper()

'WELCOME TO THE FUTURE'

##### Lower Case

In [46]:
c.lower()

'welcome to the future'

##### Remove Whitespace
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [47]:
d = "   What is this "
d

'   What is this '

In [48]:
d.strip()

'What is this'

##### Replace String
The replace() method replaces a string with another string:

In [49]:
a = "Hello, World!"
a.replace("H", "J")

'Jello, World!'

##### Split String
The split() method returns a list where the text between the specified separator becomes the list items.

The split() method splits the string into substrings if it finds instances of the separator:

In [50]:
a = "Hello, World!"
a.split(",")

['Hello', ' World!']

##### String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [51]:
a = "Hello"
b = "World"
c = a+b        # same as a + b
print(c)

HelloWorld

In [52]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [53]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

#### String Format
As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

age = 36\
txt = "My name is John, I am " + age\
print(txt)\
Output: Error

#### But we can combine strings and numbers by using the format() method!

#### The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [54]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

#### The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [55]:
# Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [56]:
a = 'name'
b = 'Mr'
c = '28'
text = 'My {} is {} Khan & I am {}'
print(text.format(a,b,c))

My name is Mr Khan & I am 28

#### You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [57]:
#Example
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#### Escape Character
https://www.w3schools.com/python/python_strings_escape.asp

#### String Methods
https://www.w3schools.com/python/python_strings_methods.asp

## 3. Boolean Values

Booleans represent one of two values: True or False.

In [58]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [59]:
#Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [60]:
print(bool("Hello"))
print(bool(15))

True
True

In [61]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

##### Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [62]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

## 4. Sequence & Mapping: List, Tuple, Set & Dictionary

There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.\
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.\
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.\
Dictionary is a collection which is ordered** and changeable. No duplicate members.

### List

In [139]:
names  = ["Gaurav","Kumar","Rahul","Ritu","Akash","Deepak"]
dob    = [2,3,1996]
status = [True, False, True]
all_data_type_list = ["Gaurav", 1996, True, 70.66]

In [140]:
type(names)

list

In [141]:
len(names)

6

In [142]:
mylist = list(("Gaurav", 1996, True, 70.66))
mylist

['Gaurav', 1996, True, 70.66]

In [143]:
type(mylist)

list

#### Access List Items

In [150]:
names

['Gaurav', 'Kumar', 'Rahul', 'Ritu', 'Akash', 'Deepak']

In [144]:
# Indexing

names[0]

'Gaurav'

In [145]:
# Negative Indexing

names[-1]

'Deepak'

In [147]:
# Ranges of Indexing

names[0:3]

['Gaurav', 'Kumar', 'Rahul']

In [148]:
names[:3]

['Gaurav', 'Kumar', 'Rahul']

In [151]:
names[4:]

['Akash', 'Deepak']

In [152]:
names[-4:-1]

['Rahul', 'Ritu', 'Akash']

In [153]:
names[-4:]

['Rahul', 'Ritu', 'Akash', 'Deepak']

In [157]:
if "Gaurav" in names:
    print("Yes")
else:
    print("No")

Yes

#### Change List Items

In [158]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [159]:
# Change a Range of Item Values

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [163]:
# If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

#Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [162]:
# If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

#Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

#### Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [167]:
fruits = ['Apple',"Banana","Carrot"]
fruits.insert(1,'Mango')
fruits

['Apple', 'Mango', 'Banana', 'Carrot']

#### Add List Items

In [169]:
# Append Items:

#To add an item to the end of the list, use the append() method:

fruits = ['Apple',"Banana","Carrot"]
fruits.append('Mango')
fruits

['Apple', 'Banana', 'Carrot', 'Mango']

In [171]:
# Insert Items:

# To insert a list item at a specified index, use the insert() method.
# The insert() method inserts an item at the specified index:

fruits = ['Apple',"Banana","Carrot"]
fruits.insert(2,'Mango')
fruits

['Apple', 'Banana', 'Mango', 'Carrot']

In [172]:
# Extend List:

# To append elements from another list to the current list, use the extend() method.

# Q. Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [173]:
# Add Any Iterable:

#The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

thislist = ["apple", "banana", "cherry"]
tuples = ("mango", "pineapple", "papaya")
thislist.extend(tuples)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#### Remove List Items

In [174]:
# Remove Specified Item:
# The remove() method removes the specified item.

# Q.Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [175]:
# Remove Specified Index
# The pop() method removes the specified index.

# Q.Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [176]:
# If you do not specify the index, the pop() method removes the last item.

# Q.Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

##### The del keyword also removes the specified index:

In [179]:
#Q.Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

##### The del keyword can also delete the list completely.

In [180]:
#Q.Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

##### Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [181]:
#Q.Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Sort Lists

In [186]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [188]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [189]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [190]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [191]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [192]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

#### Copy Lists

In [193]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [194]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Join Lists

In [195]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [196]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [197]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)

print(list1)

['a', 'b', 'c', 1, 2, 3]

#### count()

In [234]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

points.count(9)

2

#### index()

In [235]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

points.index(8)

5

#### Loop Lists

In [200]:
lists = [1,2,3,4]

for x in lists:
    print(x)

1
2
3
4

In [236]:
lists = ["apple", "banana", "cherry"]

for x in lists:
    for y in x:
        print(y)

a
p
p
l
e
b
a
n
a
n
a
c
h
e
r
r
y

### Tuple

#### Access Tuples

In [209]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[1:3])
print(thistuple[:4])
print(thistuple[2:])
print(thistuple[-4:-1])

banana
cherry
('banana', 'cherry')
('apple', 'banana', 'cherry')
('cherry',)
('apple', 'banana')

In [210]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

#### Update Tuples

In [212]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [218]:
#1. Convert into a list:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("kiwi")
thistuple = tuple(y)
thistuple

('apple', 'banana', 'cherry', 'kiwi')

In [220]:
# 2. Add tuple to a tuple:

thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y  #or, thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

#### Remove Items

In [222]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
thistuple

('banana', 'cherry')

In [ ]:
# thistuple = ("apple", "banana", "cherry")
# del thistuple
# print(thistuple)

#### Unpack Tuples

In [224]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

#### Join Tuples

In [225]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [227]:
# Multiply Tuples:

fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#### Loop Tuples

In [228]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

#### count()

In [229]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

#### index()

In [231]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(6)

print(x)

7

### Set

In [205]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

banana
apple
cherry

In [237]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

In [238]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'pineapple', 'mango', 'apple', 'cherry', 'papaya'}

In [239]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'cherry', 'orange', 'kiwi', 'apple'}

In [240]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [241]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [244]:
# You can also use the pop() method to remove an item, but this method will remove a random item, 
# so you cannot be sure what item that gets removed.

# The return value of the pop() method is the removed item.

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [245]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
# thisset = {"apple", "banana", "cherry"}

# del thisset

# print(thisset)

In [247]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [249]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'b', 'c'}

Note: Both union() and update() will exclude any duplicate items.

In [250]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

## Python Operators
https://www.w3schools.com/python/python_operators.asp

In [63]:
x = 5
y = 2
print(x+y) 
print(x-y)  
print(x*y)
print(x/y)  #Division
print(x%y)  #Modulus ( will result the remainder )
print(x**y) #Exponentiation 
print(x//y) #Floor division ( overall division )

7
3
10
2.5
1
25
2

## Python: If ... Else

In [64]:
a = 10
b = 20
if a < b:
    print("yes")

yes

In [65]:
a = 10
b = 20
if a > b:
    print("yes")
else:
    print("no")

no

In [66]:
a = 10
b = 10
if a > b:
    print("yes")
elif a == b:
    print("no")

no

In [67]:
a = 10
b = 20
if a > b:
    print("yes")
elif a == b:
    print('okay')
else:
    print("no")

no

In [68]:
a = 10
b = 20
c = 30
if a < b and c > b:
    print("Jhakass")

Jhakass

In [69]:
a = 10
b = 20
c = 30
if a < b and b > c:
    print("Jhakass")
else:
    print('Bdhiya')

Bdhiya

### Nested If
##### You can have if statements inside if statements, this is called nested if statements.

In [70]:
# Example
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## Python Loops
Python has two primitive loop commands:

while loops\
for loops

### While Loops
With the while loop we can execute a set of statements as long as a condition is true.

In [71]:
#Print i as long as i is less than 6:

i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [72]:
n = 1
while n < 4:
    print(n)
    n += 1

1
2
3

#### The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [73]:
# Example
# Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [74]:
n = 2
while n < 10:
    print(n)
    if n == 7:
      break
    n += 2

2
4
6
8

#### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [75]:
# Continue to the next iteration if i is 3:

i = 0

while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

#### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [76]:
#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

https://www.w3schools.com/python/python_for_loops.asp

In [77]:
name = 'Gaurav'

for x in name:
    print(x)

G
a
u
r
a
v

In [78]:
mob = '8958904045'

for x in mob:
    print(x)

8
9
5
8
9
0
4
0
4
5

In [79]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

In [80]:
fruits = ('apple', "banana", "cherry")

for x in fruits:
    print(x)

apple
banana
cherry

#### The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [81]:
# Exit the loop when x is "banana":
fruits = ['apple', 'banana', 'cherry']

for x in fruits:
    print(x)
    if x == 'banana':
     break

apple
banana

In [82]:
# Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
     break
    print(x)

apple

#### The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [83]:
# Do not print banana:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
     continue
    print(x)

apple
cherry

#### The range() Function
To loop through a set of code a specified number of times, we can use the range() function.

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [84]:
# Example
# Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

#### Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [85]:
# Example
# Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [86]:
#Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

## Python Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Creating a Function
In Python a function is defined using the def keyword:

In [87]:
def my_function():
    print("I created my first function")
    
my_function()

I created my first function

In [88]:
def fn(a,b):
    c = a*b
    return c

fn(2,3)

6

In [89]:
def fn(name):
    print(name + ' Kumar')
    
fn('Gaurav')   
fn('Gautam')

Gaurav Kumar
Gautam Kumar

#### Parameters or Arguments?
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

In [90]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Rahul", "Rajput")

Rahul Rajput

In [91]:
# def my_function(fname, lname):
#   print(fname + " " + lname)

# my_function("Rahul")

# Note: This will show error bcoz we defined two parameter in function but passing only one argument.

## Python Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

##### Syntax
lambda arguments : expression

https://www.machinelearningplus.com/python/lambda-function/

In [92]:
# Add 10 to argument a, and return the result:

x = lambda a : a + 10
x(5)                                   #print(x(5))

15

In [93]:
x = lambda a,b: a*b

x(2,3)

6

In [94]:
print((lambda a,b: a*b)(2,3))

6

## Python Arrays
Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

Arrays
Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

In [95]:
# Example
# Create an array containing car names:

cars = ["Ford", "Volvo", "BMW"]
cars

['Ford', 'Volvo', 'BMW']

## Python Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

https://www.w3schools.com/python/python_iterators.asp

In [96]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [97]:
fruit = 'banana'
myit = iter(fruit)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

## Python Datetime

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [98]:
# Example
# Import the datetime module and display the current date:

import datetime as d

x = d.datetime.now()
x

datetime.datetime(2023, 2, 27, 22, 25, 6, 549085)

In [99]:
x = d.datetime.now()
print(x)

2023-02-27 22:25:06.553964

In [100]:
#Return the year and name of weekday:

x = d.datetime.now()

print(x.year)
print(x.month)
print(x.day)
print(x.hour)
print(x.minute)
print(x.second)
print(x.strftime("%A"))

2023
2
27
22
25
6
Monday

#### Creating Date Objects
To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [101]:
# Example
# Create a date object:

x = d.datetime(2020, 5, 17, 10, 3, 45, 67)

print(x)

2020-05-17 10:03:45.000067

#### The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

https://www.w3schools.com/python/python_datetime.asp

In [102]:
# Example
# Display the name of the month:

import datetime

x = d.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

## Python Math
Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

##### Built-in Math Functions

The min() and max() functions can be used to find the lowest or highest value in an iterable:\
The abs() function returns the absolute (positive) value of the specified number:\
The pow(x, y) function returns the value of x to the power of y (xy).

In [103]:
x = min(5, 10, 25)
y = max(5, 10, 25)
# z = mean(5, 10, 25)
# a = mode(5, 10, 25)
# b = median(5, 10, 25)

print(x)
print(y)
# print(z)
# print(a)
# print(b)

5
25

In [104]:
x = abs(-7.25)

print(x)

7.25

In [105]:
x = pow(2,3)
print(x)

8

## The Math Module
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

In [106]:
#The math.sqrt() method for example, returns the square root of a number:

import math

x = math.sqrt(64)

print(x)

8.0

In [107]:
x = math.ceil(1.4)   # will return nearest highest
y = math.floor(1.4)  # will result nearest lowest 

print(x)
print(y)

2
1

In [108]:
#The math.pi constant, returns the value of PI (3.14...):
x = math.pi

print(x)

3.141592653589793

# PRACTICE

## append() VS extend()

In [109]:
# append()
x = [1,2,3]
y = [4,5]
x.append(y)
x

[1, 2, 3, [4, 5]]

In [110]:
# extend()
x = [1,2,3]
y = [4,5]
x.extend(y)
x

[1, 2, 3, 4, 5]

In [111]:
import numpy as np
x = [1,2,3]
np.sum(x)

6

In [112]:
total = 0
 
# creating a list
list1 = [11, 5, 17, 18, 23]
 
# Iterate each element in list
# and add them in variable total
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
# printing total value
print(total)

74

In [113]:
nterms = int(input("How many terms? "))
print(nterms)

How many terms? 4
4

## FIBONACCI SERIES

In [114]:
# Program to display the Fibonacci sequence up to n-th term

nterms = int(input("How many terms? "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
# if there is only one term, return n1
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
# generate fibonacci sequence
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 4
Fibonacci sequence:
0
1
1
2

In [115]:
num = int(input("Enter any number: "))
n1 = 0
n2 = 1
sum = 0

if num <= 0:
    print('Please enter number greater than 0')
else:
    for i in range(0,num):
        print(sum, end=" ")
        n1 = n2
        n2 = sum
        sum = n1 + n2

Enter any number: 4
0 1 1 2

In [116]:
n = int(input("Enter a number"))
n1 = 0
n2 = 1

for i in range(n):
    print(n1)
    temp = n1
    n1 = n2
    n2 = temp+n2

Enter a number4
0
1
1
2

## REVERSE NUMBER

In [ ]:
number = '123'
number[::-1]

In [118]:
'123'[::-1]

'321'

In [124]:
number_string = input("Enter a number:")

reverse_number = number_string[::-1]
print("reversed:",reverse_number)

Enter a number:123
reversed: 321

# OOPs
https://www.geeksforgeeks.org/python-oops-concepts/

### What is OOPS?
Object-Oriented Programming (OOP) is a programming model that uses classes and objects.

Its utilized to break down a software program into reusable code blueprints (called classes) that you may use to build specific instances of things(called objects).

It aims to implement real-world entities like inheritance, polymorphisms, encapsulation, etc. in the programming.

The main concept of OOPs is to bind the data and the functions that work on that together as a single unit.

#### Main Concepts/Pillars of Object-Oriented Programming (OOPs) 
Class\
Objects\
Inheritance 

https://www.geeksforgeeks.org/python-oops-concepts/

https://pythonlobby.com/inheritance-and-types-of-inheritance-in-python-programming/

Polymorphism\
Encapsulation\
Data Abstraction

# Python Classes and Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

### Class: 
A Class is like an object constructor, or a "blueprint" for creating objects.\
Blueprint from which objects are created

### Object: 
Instance of class - acts as its variable

### Inheritance
Inheritance is the capability of one class to derive or inherit the properties from another class. The class that derives properties is called the derived class or child class and the class from which the properties are being derived is called the base class or parent class. The benefits of inheritance are:

It represents real-world relationships well.
It provides the reusability of a code. We dont have to write the same code again and again. Also, it allows us to add more features to a class without modifying it.
It is transitive in nature, which means that if class B inherits from another class A, then all the subclasses of B would automatically inherit from class A.

#### Types of Inheritance  
(1). Single inheritance: When child class is derived from only one parent class. 

(2). Multiple Inheritance: When child class is derived or inherited from more than one parent class.

(3). Multilevel Inheritance: We have one parent class and child class that is derived or inherited from that parent class. We have a grand-child class that is derived from the child class.

(4). Hierarchical inheritance: When we derive or inherit more than one child class from one(same) parent class.

(5). Hybrid Inheritance: Hybrid inheritance satisfies more than one form of inheritance ie. It may be consists of all types of inheritance that we have done above. It is not wrong if we say Hybrid Inheritance is the combinations of simple, multiple, multilevel and hierarchical inheritance.